<!DOCTYPE html>
<html lang="en">
  <%- partial('partial/head') %>
  <body>
    <!-- HEADER -->
    <%- partial('partial/header') %>

    <main class="main grid-container">
      <!-- POSTS -->
      <% page.posts.each(function(item) { %>
      <article class="post"><%- partial('partial/post-head', {item: item}) %></article>
      <% }); %>
    </main>

    <!-- FOOTER -->
    <%- partial('partial/footer') %>
    <!-- ANALYTICS -->
    <%- partial('partial/analytics') %>
  </body>
</html>
